.pricing{

}
.pricing .container{
    flex-direction: column;
    align-items: center;
    max-width: 1208px;
}
.pricing h2{
    font-size: 32px;
    line-height: 36px;
    padding-top: 4px;
    color: #222222;
}
.pricing h1{
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}
.pricing p{
    width: 568px;
    padding-bottom: 13px;
    text-align: center;
    color: #666666;
    font-size: 18px;
    line-height: 24px;
}
.prices{
    width: inherit;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.price-segment{
    background-color: #f2f2f2;
    min-width: 379px;
    padding: 50px 0;
    margin: 8px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.price__title{
    font-size: 18px;
    text-transform: capitalize;
    line-height: 24px;
    padding-bottom: 12px;
}
.price{
    letter-spacing: 8px;
    font-size: 108px;
    line-height: 124px;
    position: relative;
    top: -25px;
}
.price__title.pricing__standard, .price.pricing__standard{
    color: #0278ED;
}
.price__title.pricing__lifetime, .price.pricing__lifetime{
    color: #FF9209;
}
.price__title.pricing__premium, .price.pricing__premium{
    color: #FF5437;
}
.price__period{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.price-segment button{
    margin: 20px 0 0;
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    line-height: 18px;
}
.price-segment button.pricing__standard{
    background-color: #0278ED;
}
.price-segment button.pricing__premium{
    background-color: #FF5437;
}
.price-segment button.pricing__lifetime{
    background-color: #FF9209;
}

@media (max-width: 767px) {
    .pricing{
        padding: 30px 0;
    }
    .price-segment{
        min-width: 200px;
        width: 90%;
    }
    .pricing .title{
        font-size: 14px;
        line-height: 18px;
    }
    .pricing .subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .pricing .description{
        min-width: 300px;
        width: 80%;
        margin: 10px 0;
    }
    .price{
        font-size: 48px;
        line-height: 48px;
        top: 0;
        margin-bottom: 10px;
    }
}