

header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .15);
}
header .container{
    max-width: 1185px;
    margin: 0 auto;
    padding:  0 20px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: inherit;
}
.header__burger, .header__close-button{
    display: none;
}
.header__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    min-width: calc(53%);
    padding: 0 10px 16px 7px;
    position: relative;
    top: 5px;
}
.header__list-item{
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    color: #666666;
    letter-spacing: -0.7px;
    padding-left: 10px;
}
header .button.get-app{
    background-color: black;
    color: white;
    padding: 10px 31px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    position: relative;
    left: 10px;
}
