@media (max-width: 767px) {
    header .container{
        max-width: 720px;
    }
    .header__nav{
        height: 70px;
    }
    .header__burger{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 36px;
        height: 36px;
    }
    .header__burger:focus{
        border: 1px solid #5AB0FF;
    }
    .header__burger:hover{
        background-color: #E5E5E5;
    }
    .header__list{
        display: none;
    }
    .header__nav.opened{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: white;
        height: 100vh;
        width: 100vw;
        animation: .3s open-header-menu;
    }
    header .container::before{
        content: "";
        position: relative;
        display: block;
        height: 70px;
    }
    .header__nav.opened .header__burger{
        display: none;
    }
    .header__nav.opened .logo{
        display: block;
        margin: 0 auto;
    }
    .header__nav.opened .header__close-button{
        display: block;
        position: absolute;
        top: 26px;
        right: 27px;
        padding: 0;
    }
    .header__nav.opened .header__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 43px;
        height: auto;
    }
    .header__nav.opened .header__list-item {
        padding: 9px 0;
    }
    .header__nav.opened .get-app{
        display: block;
        margin-top: 43px;
    }
}

@keyframes open-header-menu {
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(0);
    }
}