html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    scroll-behavior: smooth;
}
body *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
a, button, a:visited{
    background-color: inherit;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
h1, h2, h3, h4{
    margin: 0;
}
.section{
    padding: 100px 0;
}
button{
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
}

.button:hover, .app-store-button.button.get-app:hover{
    background-color: #4E4E4E;
}
.button:active{
    scale: 0.98;
}
.button:focus{
    outline: 2px solid #5AB0FF;
}

input, input:active, input:focus{
    border: none;
}
.container{
    max-width: 1188px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.title{
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.subtitle{
    color: #222222;
    font-size: 32px;
}

.description{
    color: #666666;
}
.title, .subtitle, .description{
    text-align: center;
}
.phone{
    position: relative;
    overflow: hidden;
}
.phone img{
    position: absolute;
    display: block;
    height: 100%;
}
.phone__frame{
    z-index: 1;
}
.phone__theme{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 767px){
    .container{
        max-width: 720px;
    }

}

