.achievements{
    background-color: #FF5437;
    color: white;
}

.achievements .container{
    padding: 80px 0 100px;
    justify-content: space-between;
    max-width: 1017px;
}
.achievement h1{
    font-size: 96px;
    line-height: 96px;
}
.achievement p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
}