footer{
    padding: 120px 0;
}
.footer__logo svg{
    display: block;
    margin: 0 auto;
}
.social-networks{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 112px;
    padding-top: 26px;
}