.header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header .container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 32px 0 25px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: inherit;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 611px;
    padding: 0 5px 0 16px;
}
.list__item{
    list-style: none;
}
.logo img{
    border: none;
    width: 120px;
    height: 40px;
}
.button.get-app{
    background-color: black;
    color: white;
    padding: 10px 31px;
    border-radius: 4px;
}
