.sale{
    background-image: url("../../images/sale-section-background.png");
    height: 436px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sale h1{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 1.1px;
}
.sale h2{
    font-size: 30px;
}
.timer{
    font-weight: 700;
    display: flex;
    justify-content: center;
    width: 729px;

}

.timer__item{
    width: 20.6%;
    text-align: center;
}
.timer__item-divider{
    width: 5.9%;
    text-align: center;
    position: relative;
    bottom: 8px;
}

.timer__item-count, .timer__item-description{
    display: block;
    margin: 0 auto;
    text-align: center;
}

.timer__item-count span, .timer__item-divider{
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 1.1px;
}

.timer__item-divider{

}

.timer__item-description{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0 auto;

}