.testimonials.smoke{
    background-color: #f2f2f2;
}
.testimonials .container{
    flex-direction: column;
}
.testimonials__content{
    display: flex;
    justify-content: space-between;
}
.testimonials .title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.testimonials .subtitle{
    font-size: 32px;
    line-height: 36px;
    margin-top: -4px;
}
.review{
    width: 379px;
    padding: 30px 37px 34px 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.review p{
    font-size: 16px;
    line-height: 24px;
    color: #222222;
}
.app-store-wrapper{
    display: block;
    margin: 26px auto 0;

}