.testimonials{
    padding-bottom: 150px;
}
.testimonials.smoke{
    background-color: #f2f2f2;
    padding-bottom: 80px
}
.testimonials .container{
    flex-direction: column;
    max-width: 1208px;
}
.testimonials__content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.testimonials .title{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.testimonials .description{
    font-size: 18px;
    line-height: 24px;
    max-width: 589px;
    text-align: center;
    margin:  15px auto 0;
}
.testimonials .subtitle{
    font-size: 32px;
    line-height: 36px;
}
/*.testimonials.smoke .subtitle{*/
/*    margin-top: -4px;*/
/*    font-size: 18px;*/
/*    line-height: 24px;*/
/*}*/
.review{
    width: 379px;
    padding: 30px 37px 34px 30px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px;
}
.review p{
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    margin: 10px 0;
    color: #222222;
}

.app-store-wrapper{
    display: block;
    margin: 26px auto 0;
}

@media (max-width: 767px) {
    .testimonials{
        padding: 50px 0;
    }
    .testimonials .title{
        font-size: 14px;
        line-height: 18px;
    }
    .testimonials .subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .testimonials .description{
        min-width: 300px;
        width: 80%;
        margin: 10px auto;
        max-width: 500px;
    }
    .review{
        padding: 10px 20px;
    }
}