.theming{
    background-color: #222222;
}
.theming * {
    color: #f2f2f2;
}
.theming .theming__phone{
    border-bottom: 2px solid #f2f2f2;
}

.theming.light{
    background-color: white;
}
.theming.light * {
    color: #222222;
}

.theming.light .theming__button.light path{
    fill: #FF9209;
}
.theming.light .theming__button.dark path{
    fill: #222222;
}

.theming.light .theming__phone{
    border-bottom: 2px solid #222222;
}

.theming .container{
    flex-direction: column;

}
.theming .description{
    width: 578px;
    margin: 10px auto 0;
    font-size: 18px;
    line-height: 24px;
}

.theming__phone{
    width: 600px;
    margin: 0 auto;
    padding-top: 36px;
}
.theming__phone img{
    display: block;
    margin: 0 auto;
    width: 400px;
    object-fit: contain;
}
.theming__buttons{
    padding: 40px 5px 0;
    margin: 0 auto;
}

.theming__marked{
    color: #FF9209 !important;
}

@media (max-width: 767px) {
    .theming .title{
        font-size: 12px;
    }
    .theming .subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    .theming .description{
        width: 100%;
        max-width: 500px;
        margin: 10px auto 0;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 20px;
    }

    .theming__phone{
        width: 200px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .theming__phone img{
        display: block;
        margin: 0 auto;
        width: 200px;
        object-fit: contain;
    }
    .theming__buttons{
        padding: 20px 5px 0;
        margin: 0 auto;
    }
}