.dialog{
    display: none;
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    overflow: scroll;
    background-color: rgba(0, 0, 0, .35);
    z-index: 10;
    padding-top: 5vh;
}
.modal-wrapper{
    height: 90vh;
    width: 100vw;
    overflow: scroll;
}
.modal{
    width: 506px;
    border-radius: 4px;
    position: relative;
    background-color: white;
    padding: 3px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    margin: 0 auto;
}
.modal * {
    color: black;
}
.modal form{
    margin-bottom: 33px;
}
.modal__close-button{
    position: absolute;
    top: 27px;
    right: 23px;
}
.modal fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.modal legend{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.modal__title{
    font-size: 20px;
    line-height: 30px;
    width: 312px;
    text-align: center;
    padding: 35px;
    margin-bottom: -4px;
}
.modal__text-input-wrapper{
    margin: 8px 0;
}
.modal__text-input{
    width: 330px;
    padding: 9px 17px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.modal__text-input.error{
    background-color: #FFEEEE;
}
.modal__text-input.error:focus{
    outline: 1px solid #FF5437;
    border-radius: 0;
}

.modal__text-input:focus{
    border: none;
    outline: 2px solid #5AB0FF;
}
.modal__text-input__error-message{
    display: none;
    padding-left: 11px;
    padding-top: 4px;
    color: #FF5437;
}
.modal__plan-field {
    position: relative;
    padding-top: 5px;
}

.modal__plan-field legend {
    position: relative;
    top: 4px;
}
.modal__plan{
    display: flex;
    text-align: center;
    margin: 11px 0;
    position: relative;
}
.modal__plan svg{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
}
.modal__plan label{
    display: block;
    width: 330px;
    padding: 9px 15px;
    border-radius: 4px;
    cursor: pointer;
}
.modal__plan.blue input~label{
    border: 1px solid #0278ED;
    color: #0278ED;
}
.modal__plan.orange input~label{
    border: 1px solid #FF5437;
    color: #FF5437;
}
.modal__plan.red input~label{
    border: 1px solid #FF9209;
    color: #FF9209;
}

.modal__plan input:checked~label{
    color: white;
}

.modal__plan.blue input:checked~label{
    background-color: #0278ED;
}
.modal__plan.orange input:checked~label{
    background-color: #FF5437;
}
.modal__plan.red input:checked~label{
    background-color: #FF9209;
}

.modal__plan input{
    display: none;
}

.modal__social-networks-field {
    padding-top: 24px;
}
.modal__social-networks-field  legend{
    position: relative;
    top: 20px
}

.modal__social-networks input{
    display: none;
}
.modal__social-networks__item{
    display: flex;
    margin: 13px 0;
}
.modal__social-networks label{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.modal__social-networks .modal__checkbox-wrapper svg{
    display: none;
}
.modal__social-networks input:checked~label .modal__checkbox-wrapper svg{
    display: block;
}
.modal__checkbox-wrapper{
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 2px solid #0278ED;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 19px;
}

.modal__submit{
    display: block;
    margin: 20px auto 23px;
    background-color: black;
    color: white;
    padding: 10px 31px;
    border-radius: 4px;
    cursor: pointer;
}

.modal__loading{
    display: none;
    justify-content: center;
    align-items: center;
    margin: 33px auto 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #7E7E7E;
    text-transform: uppercase;
}
.modal__loading span, .modal__loading svg{
    display: block;
}
.modal__loading svg{
    margin-right: 17px;
    transition: 1s;
    animation: 2s loading-spin infinite;
}

@keyframes loading-spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}