body{
    margin: 0;
}
body *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
a, button{
    cursor: pointer;
}
h1, h2, h3, h4{
    margin: 0;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container{
    width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.phone{
    position: relative;
    overflow: hidden;
}
.phone img{
    position: absolute;
    display: block;
    height: 100%;
    object-fit: fill;
}
.phone__frame{
    z-index: 1;
}
.phone__theme{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/*header*/

.header{
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}
.header .container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 32px 0 25px;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: inherit;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 611px;
    padding: 0 5px 0 16px;
}
.list__item{
    list-style: none;
}
.logo{
    background-color: inherit;
    border: none;
}
.button.get-app{
    background-color: black;
    color: white;
    padding: 10px 31px;
    border-radius: 4px;
}

/*SALE SECTION*/
.sale-section{
    background-image: url("../images/sale-section-background.png");
    height: 436px;
    color: white;
}
.sale-section h1{
    font-size: 50px;
}
.sale-section h2{
    font-size: 30px;
}
.timer{
    font-weight: 700;
}
.timer-counter{
    margin: 0 auto;
    height: 150px;
    font-size: 100px;
}
.timer-description{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    padding: 0 12px 0 17px;
}


.container.banner{
    justify-content: space-between;
    padding: 93px 100px 0 78px;
}

.container.banner h1{
    font-size: 54px;
    line-height: 60px;
    width: 400px;
}
.container.banner p{
    width: 394px;
    line-height: 24px;
}
.banner__description img{
    padding-top: 45px;
    width: 192px;
}
.banner button{
    padding: 10px 25px;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin-top: 3px;
    margin-right: 10px;
}
.banner .phone{
    width: 376px;
    height: 548px;
}
.banner .phone__frame{
    width: 376px;
}
.banner .phone__theme{
    width: 322px;
    height: 695px;
    padding-top: 25px;
}

.features-section{
    background-color: black;
    color: white;
}
.features-section .container{
    flex-direction: column;
    align-items: center;
    padding: 84px 0 100px;
}
.features-section h2{
    font-size: 14px;
}
.features-section h1{
    font-size: 32px;
    width: 495px;
    text-align: center;
    padding-bottom: 29px;
}
.features-segments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.phone-segment{
    position: relative;
    background-color: white;
    width: 379px;
    height: 490px;
    padding-top: 39px;
    margin-top: 16px;
    border-radius: 20px;
}
.phone-segment .phone{
    width: 227px;
    height: 300px;
    margin: 0 auto;
}
.phone-segment .phone__frame{
    width: 227px;
}
.phone-segment .phone__theme{
    width: 194px;
    padding-top: 15px;
}
.phone-description{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background-color: #f2f2f2;
    color: black;
    z-index: 1;
    border-radius: 0 0 20px 20px;
}
.phone-description-icon{
    margin: -32px auto 0;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-description p, .phone-description h3{
    text-align: center;
}

.phone-description-icon.blue{
    background-color: #0278ED;
}
.phone-description h3.blue{
    color: #0278ED;
}
.phone-description-icon.red{
    background-color: #FF5437;
}
.phone-description h3.red{
    color: #FF5437;
}
.phone-description-icon.yellow{
    background-color: #FF9209;
}
.phone-description h3.yellow{
    color: #FF9209;
}
.phone-description-icon.pink{
    background-color: #E738CE;
}
.phone-description h3.pink{
    color: #E738CE;
}
.phone-description-icon.aqua{
    background-color: #00C6DF;
}
.phone-description h3.blue{
    color: #00C6DF;
}
.phone-description-icon.violet{
    background-color: #B25DF8;
}
.phone-description h3.violet{
    color: #B25DF8;
}

.achievements-section{
    background-color: #FF5437;
    color: white;
}

.achievements-section .container{
    padding: 80px 0 100px;
    justify-content: space-between;
    max-width: 1017px;
}
.achievement h1{
    font-size: 96px;
    line-height: 96px;
}
.achievement p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.technology-section{
    padding: 100px 0 0;
}
.technology-section.smoke{
    background-color: #f2f2f2;
}
.technology-section .container{
    max-width: 1000px;
    justify-content: space-between;
}
.technology__description{
    width: 403px;
    font-weight: 400;
    padding-top: 77px;
}
.technology__description h2{
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.technology__description h1{
    font-size: 32px;
}
.technology__description p{
    font-size: 16px;
}
.technology-section .phone{
    width: 376px;
    height: 545px;
    margin-left: 22px;
}
.technology-section .phone__frame{
    width: 376px;
    height: 545px;
}
.technology-section .phone__theme{
    width: 323px;
    padding-top: 24px;
}
.pricing{
    padding: 100px 0;
}
.pricing .container{
    flex-direction: column;
    align-items: center;
}
.pricing h1{
    font-size: 32px;
    color: #222222;
}
.pricing h2{
    font-size: 14px;
    color: #222222;
}
.pricing p{
    width: 568px;
    text-align: center;
    padding-bottom: 41px;
    color: #666666;
}
.prices{
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.price-segment{
    background-color: #f2f2f2;
    width: 379px;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.price__title{
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 12px;
}
.price{
    letter-spacing: 8px;
    font-size: 108px;
    line-height: 124px;
    position: relative;
    top: -25px;
}
.price__title.blue, .price.blue{
    color: #0278ED;
}
.price__title.yellow, .price.yellow{
    color: #FF9209;
}
.price__title.red, .price.red{
    color: #FF5437;
}
.price__period{
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.price-segment button{
    margin: 20px 0 0;
    padding: 10px 25px;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    line-height: 18px;
}
.price-segment button.blue{
    background-color: #0278ED;
}
.price-segment button.red{
    background-color: #FF5437;
}
.price-segment button.yellow{
    background-color: #FF9209;
}
@media (min-width: 1201px) {

}