body{
    margin: 0;
}
body *{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
}
ul{
    margin: 0;
    padding: 0;
}
a, button{
    background-color: inherit;
    cursor: pointer;
}
h1, h2, h3, h4{
    margin: 0;
}
.section{
    padding: 100px 0;
}
button{
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.container{
    width: 1168px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.title{
    color: #222222;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.subtitle{
    color: #222222;
    font-size: 32px;
}
.description{
    color: #666666;
}
.title, .subtitle, .description{
    text-align: center;
}
.phone{
    position: relative;
    overflow: hidden;
}
.phone img{
    position: absolute;
    display: block;
    height: 100%;
}
.phone__frame{
    z-index: 1;
}
.phone__theme{
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    object-position: top;
}
.app-store{
    display: block;
    margin: 26px auto 0;
}
