.features{
    background-color: black;
    color: white;
}
.features .container{
    flex-direction: column;
    align-items: center;
    max-width: 1208px;
}
.features h2{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
}
.features h1{
    font-size: 32px;
    line-height: 36px;
    width: 495px;
    text-align: center;
    padding-bottom: 29px;
}
.features-segments{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.phone-segment{
    position: relative;
    background-color: white;
    width: 379px;
    height: 490px;
    padding-top: 39px;
    margin: 16px 8px 0;
    border-radius: 20px;
}
.phone-segment .phone{
    width: 227px;
    height: 300px;
    margin: 0 auto;
}
.phone-segment .phone__frame{
    width: 227px;
}
.phone-segment .phone__theme{
    width: 194px;
    padding-top: 14px;
}
.phone-description{
    position: absolute;
    bottom: 0;
    width: 379px;
    height: 197px;
    background-color: #f2f2f2;
    color: black;
    z-index: 1;
    border-radius: 0 0 20px 20px;
}
.phone-description-icon{
    margin: -32px auto 0;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-description h3{
    padding: 18px 0 15px;
    font-size: 24px;
    line-height: 30px;
}
.phone-description p{
    width: 284px;
    margin: 0 auto;
    font-size: 15px;
    color: #222222;
}
.phone-description p, .phone-description h3{
    text-align: center;
}

.phone-description-icon.blue{
    background-color: #0278ED;
}
.phone-description h3.blue{
    color: #0278ED;
}
.phone-description-icon.red{
    background-color: #FF5437;
}
.phone-description h3.red{
    color: #FF5437;
}
.phone-description-icon.yellow{
    background-color: #FF9209;
}
.phone-description h3.yellow{
    color: #FF9209;
}
.phone-description-icon.pink{
    background-color: #E738CE;
}
.phone-description h3.pink{
    color: #E738CE;
}
.phone-description-icon.aqua{
    background-color: #00C6DF;
}
.phone-description h3.aqua{
    color: #00C6DF;
}
.phone-description-icon.violet{
    background-color: #B25DF8;
}
.phone-description h3.violet{
    color: #B25DF8;
}

@media (max-width: 992px) {
    .phone-segment{
        width: 300px;
        height: 388px;
    }
    .phone-description{
        width: 300px;
        height: 156px;
    }
    .phone-description-icon{
        width: 40px;
        height: 40px;
    }
    .phone-description svg{
        width: 16px;
        height: 16px;
    }
    .phone-description h3{
        padding: 8px 0 4px;
    }
    .phone-description p{
        width: 284px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .features{
        padding: 50px 0;
    }
    .features h1{
        font-size: 24px;
        line-height: 24px;
        width: 300px;
        padding: 10px 0;
    }
    .features h2{
        font-size: 14px;
        line-height: 14px;
    }
    .phone-segment{
        width: 90%;
        max-width: 300px;
        height: 279px;
        padding-top: 20px;
    }
    .phone-description{
        width: 100%;
        height: 120px;
    }
    .phone-description-icon{
        width: 30px;
        height: 30px;
        position: relative;
        bottom: 15px;
        margin: 0 auto;
    }
    .phone-description svg{
        width: 14px;
        height: 14px;
    }
    .phone-description h3{
        margin-top: -15px;
        padding: 0;
        font-size: 14px;
    }
    .phone-description p{
        width: 200px;
        padding: 0 10px;
        font-size: 12px;
        line-height: 14px;

    }
    .phone-segment .phone{
        width: 150px;
        height: 200px;
        margin: 0 auto;
    }
    .phone-segment .phone__frame{
        width: 150px;
    }
    .phone-segment .phone__theme{
        width: 132px;
        padding-top: 10px;
    }
}